In [2]:
cd /tf/classifier

/tf/classifier

In [43]:
import numpy as np
import pandas as pd

from core.data import create_dataset

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [44]:
metadata = pd.read_csv('./data/raw_data/ztf/dfcrossmatches_ZTF_prioritized_v8.0.1.csv')
metadata.sample(1)

,oid,classALeRCE,ra,dec,period,source,id_source,class_source,separation_arcsec
16807,ZTF19aaagise,AGN,18.564099,3.329119,NaN,MILLIQUAS,SDSS J011415.38+031944.7,A,0.086344

In [46]:
create_dataset(metadata,
               source='./data/raw_data/ztf/detections_ZTF_prioritized_v8.0.1.csv',
               target='data/records/ztf',
               max_lcs_per_record=20000)

100%|██████████| 22/22 [00:00<00:00, 100.83it/s]

In [15]:
cls_groups = metadata.groupby('classALeRCE')